@use '../custom' as *;

// GRADIENT MIXIN 
@mixin gradient { 
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

@mixin gradient-1 {
    background: $url-1;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
}


// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

